<div class="container">
  <div class="left">
    <h2 class="funFont">ImposterWho!</h2>
    <br />
    <h2>Category</h2>
    <p>{{ currentCategory }}</p>
    <br />
    <h2>Players</h2>
    <ul>
      <li *ngFor="let player of players">{{ player.name }}</li>
    </ul>
    <br />
    <h2>Current Round</h2>
    <p>{{ currentRound }}</p>
    <br />
    <h2>Current Game</h2>
    <p>{{ currentGame }}</p>
    <br />
    <h2>Game Code</h2>
    <p>{{ lobbyCode || "Error" }}</p>
  </div>
  <div class="right">
    <div class="chat_container">
      <div
        class="chat"
        *ngFor="let player of playersData"
        [ngClass]="{
          'self-message': player.socketId === socketService.socketId
        }"
      >
        <strong>{{ player.name }}</strong>
        <br />{{
          currentResponses[player.socketId] || "Waiting for response..."
        }}
      </div>
    </div>
    <div class="chat_input_container">
      <div class="timer-container" *ngIf="timer > 0">
        <p>Time left: {{ timer }}</p>
      </div>
      <input
        type="text"
        class="chat_input"
        placeholder="Type your message here..."
        (keydown.enter)="sendMessage()"
        [(ngModel)]="message"
        [disabled]="!canSendMessages"
      />
      <button class="send_button" (click)="sendMessage()">Send</button>
      <button
        class="depends_button"
        (click)="actionButtonClick()"
        [disabled]="!canSendMessages"
        [disabled]="
          lobbyContent.game.guesses >= lobbyContent.game.maxGuesses ||
          !allPrepDone
        "
      >
        {{ actionButton }}
      </button>
    </div>
  </div>
</div>
