<div class="container">
  <div class="left">
    <h2 class="funFont">ImposterWho!</h2>
    <br />
    <h2>Players</h2>
    <ul>
      <li *ngFor="let player of players">{{ player.name }}</li>
    </ul>
    <br />
    <h2>Game Code</h2>
    <p>{{ lobbyCode }}</p>
  </div>
  <div class="right">
    <div class="chat_container">
      <div class="chat" *ngFor="let player of players">
        <strong>{{ player.name }}</strong
        >: Heres my message
      </div>
    </div>
    <input
      class="chat_input"
      [(ngModel)]="message"
      (keydown.enter)="sendMessage()"
      placeholder="Type your word/phrase..."
    />
  </div>
</div>
