<div class="container">
  <div class="left">
    <h2 class="funFont">ImposterWho!</h2>
    <br />
    <h2>Category</h2>
    <p>{{ currentCategory }}</p>
    <br />
    <h2>Players</h2>
    <ul>
      <li *ngFor="let player of players">{{ player.name }}</li>
    </ul>
    <br />
    <h2>Current Round</h2>
    <p>{{ currentRound }}</p>
    <br />
    <h2>Current Game</h2>
    <p>{{ currentGame }}</p>
    <br />
    <h2>Game Code</h2>
    <p>{{ lobbyCode || "Error" }}</p>
  </div>
  <div class="right">
    <div class="chat_container">
      <div class="chat" *ngFor="let player of players">
        <strong>{{ player.name }}</strong>
        <br />Heres my message
      </div>
    </div>
    <div class="chat_input_container">
      <input
        type="text"
        class="chat_input"
        placeholder="Type your message here..."
        (keydown.enter)="sendMessage()"
        [(ngModel)]="message"
        disabled
      />
      <button class="send_button" (click)="sendMessage()">Send</button>
      <button class="depends_button">{{ actionButton }}</button>
    </div>
  </div>
</div>
