<div class="center">
  @if (username){

  <p class="funFont" style="color: #f17720; line-height: 0.1em">
    Welcome {{ username }}, to...
  </p>

  }
  <h1 class="funFont" style="color: #f17720">ImposterWho!</h1>

  <!-- Join Game Section -->
  <input
    type="text"
    [(ngModel)]="lobbyCode"
    placeholder="Enter Lobby Code"
    class="input-field"
    class="fun-input"
  />
  <button class="fun-button">Join Game</button>

  <br />
  <br />

  <!-- Host Game Section -->
  <button class="fun-button" (click)="hostGame()">Host Game</button>

  <br />
  <br />

  <p>Latest Updates-</p>
  <p>11.18.24: Not final version expect tons of bugs!</p>
  <a target="_blank" href="https://prabhsingh.com/">-Prabh Singh</a>
</div>

<div class="changeUsername">
  <button class="fun-button" (click)="setUsername()">Change Username</button>
</div>
