<div class="center">
  <h1 class="funFont" style="color: #f17720">ImposterWho!</h1>

  <p>First, set a username.</p>

  <input
    type="text"
    [(ngModel)]="username"
    placeholder="Enter a username"
    class="input-field"
    class="fun-input"
  />

  <br /><br />

  <p>Now either create or join a lobby.</p>
  <!-- Join Game Section -->
  <input
    type="text"
    [(ngModel)]="lobbyCode"
    placeholder="Enter a join code"
    class="input-field"
    class="fun-input"
  />
  <button class="fun-button" (click)="joinGame()">Join Lobby</button>

  <br />
  <br />

  <!-- Host Game Section -->
  <button class="fun-button" (click)="hostGame()">Create Lobby</button>

  <br />
  <br />

  <p>Latest Updates-</p>
  <p>11.18.24: Not final version expect tons of bugs!</p>
  <a target="_blank" href="https://prabhsingh.com/">-Prabh Singh</a>
</div>
